{{#> layout/auth title=(t "error_auth_required_title") header_icon_kind="material" header_icon="memory"}}

  <h2 class="auth-card__subtitle">{{t "error_auth_required_title"}}</h2>
  <p class="auth-card__message">{{t "error_auth_required"}}</p>

{{/layout/auth}}
