{{#> layout/base}}
{{> components/breadcrumb}}
<div class="page-header">
  <h1>{{global.display_name}}</h1>
</div>
<div class="edit-layout">
  <div class="edit-layout__content">
    {{> globals/edit_form}}
  </div>
  <div class="edit-layout__sidebar">
    {{> globals/edit_sidebar}}
  </div>
</div>
{{/layout/base}}
