.list {
  list-style-type: none;
  padding: unset;
}

.list__row {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  padding: var(--space-md) 0;
}

.list__cell--30 {
  width: 30%;
}

.list__cell--grow {
  flex-grow: 1;
}
