<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script>
    (function(){var t=localStorage.getItem('crap-theme');if(t)document.documentElement.setAttribute('data-theme',t)})();
  </script>
  <link href="/static/styles.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
  <script>
    (function(){
      function gc(n){var m=document.cookie.match(new RegExp('(?:^|; )'+n+'=([^;]*)'));return m?m[1]:null}
      document.addEventListener('htmx:configRequest',function(e){var t=gc('crap_csrf');if(t)e.detail.headers['X-CSRF-Token']=t});
      document.addEventListener('submit',function(e){var f=e.target;if(!f||f.tagName!=='FORM')return;var t=gc('crap_csrf');if(t&&!f.querySelector('input[name="_csrf"]')){var i=document.createElement('input');i.type='hidden';i.name='_csrf';i.value=t;f.appendChild(i)}},true);
    })();
  </script>
  <script src="/static/prosemirror.js" defer></script>
  <script src="/static/codemirror.js" defer></script>
  <script type="module" src="/static/components/index.js"></script>

  <title>{{#if page.title}}{{page.title}}{{else}}{{title}}{{/if}} - Crap CMS</title>
</head>

<body>
  <div class="layout" data-admin-layout>
    {{> layout/header}}
    {{> layout/sidebar}}
    <main id="main" class="main">
      {{> @partial-block }}
    </main>
  </div>

  <crap-toast></crap-toast>
</body>
</html>
