<header class="header">
  <div class="header__logo">
    <span class="material-symbols-outlined">memory</span>
    Crap CMS
  </div>
  {{#if user}}
  <div class="header__user">
    <span class="header__email">{{user.email}}</span>
    <form method="POST" action="/admin/logout" class="header__logout-form">
      <button type="submit" class="button button--ghost button--small">Logout</button>
    </form>
  </div>
  {{/if}}
</header>
