<a
  class="link link--ghost"
  href="/admin/collections/{{this.slug}}"
  hx-get="/admin/collections/{{this.slug}}"
  hx-target="body"
  hx-push-url="true"
>
  <span class="material-symbols-outlined">folder</span>
  {{this.display_name}}
</a>
